header {
    background-color: #B4654A
}
div.title {
    
    color: white;
    text-align: center;
}
div.title h1 {
    padding: 10px;
}

main.dashboard {
    background-color: #77B28C;
}

div.recent-searches h2 {
    font-size: 1.2rem;
}

div.cityList {
    margin-top: 20px;
}

div.city {
    padding: 10px;
}

div.cityName {
    background-color: #C2C5BB;
    color: black;   
}

div.currentWeather {
    margin-bottom: 20px;
    background-color: #C2C5BB;
}

div.currentWeather h2,
div.currentWeather h3 {
    font-size: 1.3rem;
    margin: 10px;
}

span#uv-index {
    color: #C2C5BB;
}

div.fiveDay h2 {
    font-size: 1.2rem;
}

div.fiveDay p {
    font-size: .8rem;
}

div.fiveDay p.card-title {
    font-weight: bold;
    color: #C2C5BB;
}

.card {
    background-color: #157A6E;
}

.text-muted {
    color: white !important;
}